<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="/">
    <img width="100" alt="Logo" src="assets/morpheustechnologies_assets/morpheus_toolbar.png"/>
  </a>

  <span></span>
    <div class="spacer"></div>
  <a aria-label="Twitter" target="_blank" rel="noopener" href="https://twitter.com/" title="Twitter">
    
    <svg id="twitter-logo" height="24" data-name="Logo — FIXED" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <defs>
        <style>
          .cls-1 {
            fill: none;
          }

          .cls-2 {
            fill: #ffffff;
          }
        </style>
      </defs>
      <rect class="cls-1" width="400" height="400" />
      <path class="cls-2" d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
      />
    </svg>
    
  </a>
</div>

<div class="content" role="main">

  <img width="400" alt="Logo" src="assets/morpheustechnologies_assets/morpheus.png"/>

  <div class="expansion-panels">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Overview
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>&nbsp; Oke is responsible for Digital Futures IT infrastructure and application environment. He brings over 20+ years experience to Digital Futures with a proven track record in the design and implementation of technology strategies to support dynamic start-ups and companies experiencing periods of hyper-growth.
        Oke began his career in software development, working for a number of leading IT consultancies where he specialised in the design propriety applications to support the adoption of new management information and ERP solutions.
        He has experience working within multiple sectors, leading large delivery and support functions, focused on the management, resilience and performance of enterprise-wide infrastructure and application environments.
        Oke is technical expert in all aspects of the Microsoft solution stack, with extensive experience supporting the adoption of Azure and implementation of Microsoft 365 to global user groups.
        He is a devoted father and committed member of his local community, who enjoys Spanish cuisine and hopes to see Tottenham lift some silverware at some point.</p>
    </mat-expansion-panel>

    <p> &nbsp; </p>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Clients
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>Retained:
        <li>thecolumbogroup.com (10 Venues) <a href="url">link text</a></li>
        <li>thewrightbrothers.co.uk (6 Sites)</li>
        <li>catherinedeane.com (3 sites in London, Hong Kong and Cape Town)</li>
        <li>solution22.co.uk</li>
        <li>theumbrellaproject.co.uk (2 sites soon to be 3)</li>
        <li>vennaccounts.com</li>
        <li>princeofpeckham.co.uk</li>
        <li>deluxxe.co.uk</li>
        <li>digitalfutures.com</li>
        <li>tegmjr.com</li>
      </p>

      <p> &nbsp; </p>

      <p>
        Support:
        <li>streetfest.co.uk</li>
        <li>hazrestaurant.co.uk (5 Sites in London)</li>
        <li>thephotographyfoundation.com</li>
        <li>capeesh.co.uk</li>
        <li>chukuslondon.co.uk</li>
        <li>globalviewadvisors.com</li>
        <li>lnepowerltd.com</li>
        <li>montesdeli.com</li>
        <li>navylondon.com</li>
        <li>vinceskitchenonline.com</li>
        <li>renowncapital.co.uk (New startup)</li>
        <li>safesecurityltd.com</li>
        <li>urbanexcess.com</li>
      </p>
    </mat-expansion-panel>

    <p> &nbsp; </p>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contact Us
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>&nbsp; support@morpheustechnologies.com</p>
      <p>&nbsp; +44 20 3890 9593</p>
    </mat-expansion-panel>
  </div>

  <div class="card-container">
    <p>
      <img width="150" alt="pic1" src="assets/morpheustechnologies_assets/Oke_Agbeze_037.jpg"/>
      <img width="150" alt="pic2" src="assets/morpheustechnologies_assets/Oke_Agbeze_043.jpg"/>
      <img width="150" alt="pic3" src="assets/morpheustechnologies_assets/Oke_Agbeze_056.jpg"/>
    </p>
  </div>

  <a href="https://get.teamviewer.com/polymathqs">Get help now!</a>

  <!-- Footer -->
  <footer>
      morpheustechnologies - 2021 &nbsp;
  </footer>
</div>

<router-outlet></router-outlet>